<% if current_user %>
  <div id = "post-vote">
    <%= link_to "Upvote this post", votes_path(vote_data: {votable_id: @post.id, votable_type: "Post", value: +1}), method: :post, remote: true, class: "post_vote" %>
    <%= link_to "Downvote this post", votes_path(vote_data: {votable_id: @post.id, votable_type: "Post", value: -1}), method: :post, remote: true, class: "post_vote" %>
  </div>
<% end %>
